<p>
	<h4>Commenter:</h4>
	<%= comment.commenter %>
</p>
<p>
	<h4>Comment:</h4>
	<%= comment.body %>
</p>
<p>
	<%= link_to 'Delete', article_comment_path(@article, comment),
								method: :delete,
								data: {confirm: 'Are you sure?'} %>
</p>
<hr>
