<h1>My app</h1>


<%= link_to 'My blog', articles_path %>
<!-- przenosi do articles czyli listy wszytskich artykułów
<% link_to 'My blog', controller: 'articles' %> przenosi do kontrolera domyślnie do akcji index%> 